<ion-tabs
  ng-class="{
  'tabs-icon-top': mobile.platform == 'ios',
  'tabs-icon-only tabs-top tabs-striped': mobile.platform == 'android'
  }">
  <!-- tabs-icon-left -->
  <ion-tab title="Sell" ng-attr-icon="{{ mobile.platform == 'android' ? 'ion-pricetags' : undefined}}"
  ng-attr-icon-off="{{ mobile.platform == 'ios' ? 'ion-ios-pricetags-outline' : undefined}}"
  ng-attr-icon-on="{{ mobile.platform == 'ios' ? 'ion-ios-pricetags' : undefined}}"
  href="#/app/market/sell">
    <ion-nav-view name="marketSell"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Buy" ng-attr-icon="{{ mobile.platform == 'android' ? 'ion-android-cart' : undefined}}"
  ng-attr-icon-off="{{ mobile.platform == 'ios' ? 'ion-ios-cart-outline' : undefined}}"
  ng-attr-icon-on="{{ mobile.platform == 'ios' ? 'ion-ios-cart' : undefined}}"
  href="#/app/market/buy">
    <ion-nav-view name="marketBuy"></ion-nav-view>
  </ion-tab>

</ion-tabs>
