<ion-view view-title="Wish List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="">
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left" ng-repeat="game in getWishList()" type="item-text-wrap" href="#/app/game/detail/{{game.id}}">
        <img ng-src="{{game.cover.url}}">
        <h2 class="text-wrap">{{game.name}}</h2>
      </ion-item>
      <ion-item class="item-remove-animate" ng-if="getWishList().length <= 0" type="text-center">
        <h2>No Games on Wish List yet!</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
