<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Games Owned" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="user-games-owned"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Wish List" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="user-games-wish"></ion-nav-view>
  </ion-tab>

</ion-tabs> -->

<ion-tabs
  ng-class="{
  'tabs-icon-top tabs-positive': mobile.platform == 'ios',
  'tabs-icon-only tabs-top tabs-striped tabs-positive': mobile.platform == 'android'
  }">
  <!-- tabs-icon-left -->
  <ion-tab title="Owned" ng-attr-icon="{{ mobile.platform == 'android' ? 'ion-ios-game-controller-a' : undefined}}"
  ng-attr-icon-off="{{ mobile.platform == 'ios' ? 'ion-ios-game-controller-a-outline' : undefined}}"
  ng-attr-icon-on="{{ mobile.platform == 'ios' ? 'ion-ios-game-controller-a' : undefined}}"
  href="#/app/games/owned">
    <ion-nav-view name="gamesOwned"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Wish List" ng-attr-icon="{{ mobile.platform == 'android' ? 'ion-android-cloud' : undefined}}"
  ng-attr-icon-off="{{ mobile.platform == 'ios' ? 'ion-ios-cloud-outline' : undefined}}"
  ng-attr-icon-on="{{ mobile.platform == 'ios' ? 'ion-ios-cloud' : undefined}}"
  href="#/app/games/wish">
    <ion-nav-view name="gamesWish"></ion-nav-view>
  </ion-tab>

</ion-tabs>
